@{
    ViewData["Title"] = "Notas | Editar";
}
@model AcademiaSoft.Models.BoletaNotas

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Notas | Editar</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-header">
                <h5 style="float:left">
                    <strong>Profesor:</strong> @ViewBag.Docente
                </h5>
                <h5 style="float:left; padding:0px 0px 0px 10px;">
                    <strong>Materia:</strong> @ViewBag.Titulo
                </h5>
                <spam style="float:right">Total:  @ViewBag.Notas.Count </spam>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Alumno</th>
                            <th>1°</th>
                            <th>2°</th>
                            <th>3°</th>
                            <th>4°</th>
                        </tr>
                    </thead>
                    <tbody id="notas-boletas">
                        @foreach (var boleta in ViewBag.Notas)
                        {
                        <tr>
                            <td><input type="hidden" asp-for="Id" value="@boleta.Id" /></td>
                            <td>
                                    @foreach (var matricula in ViewBag.Matricula)
                                    {
                                        @if (boleta.Idmatricula == matricula.Id)
                                        {
                                            @foreach (var alumno in ViewBag.Alumno)
                                            {
                                                @if (matricula.Idalumno == alumno.Id)
                                                {
                                                    @alumno.Apellido @alumno.Nombre
                                                }
                                            }
                                        }

                                    }
                            </td>
                                <td><input type="number" min="0" max="20" pattern="[0-20]+" asp-for="Nota1" class="form-control" value="@boleta.Nota1" /></td>
                                <td><input type="number" min="0" max="20" pattern="[0-20]+" asp-for="Nota2" class="form-control" value="@boleta.Nota2" /></td>
                                <td><input type="number" min="0" max="20" pattern="[0-20]+" asp-for="Nota3" class="form-control" value="@boleta.Nota3" /></td>
                                <td><input type="number" min="0" max="20" pattern="[0-20]+" asp-for="Nota4" class="form-control" value="@boleta.Nota4" /></td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div style="float:right;">
                                    <a asp-action="Index" asp-controller="BoletaNotas" class="btn btn-default">Salir</a>
                                    <button type="submit" class="btn btn-success boleta-notas" onclick="Guardar()">Guardar Notas</button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        //$('.boleta-notas').click(async function (e) {
        const Guardar = async () => {
            var datos = []

            $("#notas-boletas tr").each(function () {
                var informacion = {};
                //informacion.codigo = $($(this).find('td:eq(0) input')).val();
                informacion.Id = $($(this).find('td:eq(0) input')).val();
                informacion.Idmatricula=1;
                informacion.Idcargo=2;
                informacion.Nota1 = $($(this).find('td:eq(2) input')).val();
                informacion.Nota2 = $($(this).find('td:eq(3) input')).val();
                informacion.Nota3 = $($(this).find('td:eq(4) input')).val();
                informacion.Nota4 = $($(this).find('td:eq(5) input')).val();

                datos.push(informacion);
            });

            console.log(datos)
            console.log(JSON.stringify(datos))
            
            try {
                const response = await fetch('@Url.Action("Registrar","BoletaNotas")', { method: 'POST', headers: { 'Content-Type': 'application/json;charset=UTF-8' }, body: JSON.stringify(datos) })
                const data = await response.json()

                console.log(data)
            } catch (err) {
                console.log(err)
            }


        }

    </script>
    <script src="~/js/boleta/index.js"></script>
    
}
