@{
    ViewData["Title"] = "Notas";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Detalles de la Notas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-md-right">
                    <a href="@Url.Action("Edit","BoletaNotas", new{ id=26 })" class="btn btn-primary"><i class="fas fa-edit"></i>Registrar Notas</a>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row g-2 justity-content-center">
            <div class="col-lg-4 col-md-3 col-12">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                    <form>
                        <div class="card-body">
                            <label>Profesor / Materia</label>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>-- Seleccione la Materia --</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Fecha</label>
                                <input type="date" class="form-control" />
                            </div>
                            <button class="btn btn-outline-warning" type="submit">Buscar</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-lg-8 col-md-7 col-12">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                    @if (@ViewBag.delete != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>@ViewBag.delete</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (@ViewBag.error != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error: </strong>@ViewBag.error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (@ViewBag.save != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>@ViewBag.save</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (@ViewBag.update != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>@ViewBag.update</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <div class="table-response">
                        <table class="table table-bordered" id="informacion_notas">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Aula y Materia</th>
                                    <th>Total</th>
                                    <th>Años</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cargo in ViewBag.CargoProfesor)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @foreach (var aula in ViewBag.Aula)
                                            {
                                                @if (aula.Id==cargo.Idaula)
                                                {
                                                    @aula.Descripcion
                                                }
                                            }

                                            @foreach(var curso in ViewBag.Curso){
                                                @if(curso.Id == cargo.Idcurso){
                                                    @curso.Descripcion
                                                }
                                            }

                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

}