@{
    ViewData["Title"] = "Periodo";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Periodo</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-md-right">
                    <a href="@Url.Action("Create","Periodo")" class="btn btn-primary"><i class="fas fa-edit"></i> Nuevo Periodo</a>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <div class="table-response">
                @if (@ViewBag.error != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@ViewBag.error</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (@ViewBag.save != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@ViewBag.save</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (@ViewBag.update != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@ViewBag.update</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <table class="table table-bordered" id="informacion_periodo">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>1° TRIMESTRE</th>
                            <th>2° TRIMESTRE</th>
                            <th>3° TRIMESTRE</th>
                            <th>4° TRIMESTRE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Codigo
                                </td>
                                <td>
                                    @item.Trimestre_1.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @item.Trimestre_2.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @item.Trimestre_3.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @item.Trimestre_4.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-center">
                                    <a href="@Url.ActionLink("Edit","Periodo",new{ Id=item.Id })" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <form action="@Url.Action("Delete","Periodo",new{ Id=item.Id })" method="post" class="d-inline eliminar_periodo">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/js/periodo/index.js"></script>
}